@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;300;400&display=swap');

body {
    height: 100vh;
    color: #2f3034;
    font-family: 'Roboto', sans-serif;
    background-color: peachpuff;
    background-image: url('women.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.glass {
    background: rgba(255,255,255,0.15);
    border-radius: 30px;
}

/* .container {
    padding: 5em;
}

.container-fluid {
    padding: 3rem 6rem;
} */

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
    color: #2f3034;
}

h1 {
    text-decoration: underline 7px #fcc089;
    text-underline-offset: -2px;
    margin-bottom: 2rem;
}

button {
    background: #fa698c;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 40px;
    border: none;
    padding: 0.4rem 1.5rem;
    transition: all linear 0.2s;
}

    button:hover {
        cursor: pointer;
        border: none;
        outline: 0.2rem solid #fcc089;
        color: #fff;
    }

.primary-pink {
    margin-top: 0.5rem;
}

.join-now {
    padding: 0.75rem 2rem;
    margin-top: 0.5rem;
}

.secondary-pink {
    border: 1px solid #fa698c;
    background-color: transparent;
    color: #fa698c;
    padding: 0.4rem 1.5rem;
}

    .secondary-pink:hover {
        border: 1px solid #fa698c;
        background-color: #fa698c;
        outline: none;
        color: #fff;
    }

.submit-pink {
    border-radius: 5px;
    box-sizing: content-box;
    background: #fff;
    font-weight: 400;
}

a {
    color: #2f3034;
    font-size: 1rem;
    transition: all linear 0.2s;
    text-decoration-color: #fa698c;
}

    a:hover {
        color: #2f3034;
    }

    .err-link {
        text-decoration: underline 3px #fa698c;
        text-underline-offset: 6px;
    }

    .err-link:hover {
        text-decoration: underline 3px #2f3034;
    }

hr {
    width: 20%;
    height: 1px;
    background-color: #fa698c;
    border: none;

}

em {
    font-style: normal;
    color: #fa698c;
    font-weight: bold;
}

.modal-content {
    background: #ffead8;
}

.modal-content form {
    text-align: center;
}

input {
    color: #2f3034;
}

::placeholder {
    color: #c8acb2;
}

::selection {
    color: #734351;
    background: #FB868B;
}





@media only screen and (max-width: 600px) {
    body {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .glass {
        background: transparent;
    }

    h1 {
      text-transform: uppercase;
    }

    h3 {
        font-size: 1.75rem;
    }

    a, .nav-link, p, button {
        font-size: 1.15rem;
    }
}